<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="/"></ion-back-button>
  </ion-buttons>
  <ion-title class="ion-text-center">Note Details</ion-title>
  <ion-buttons slot="end">
    <ion-button slot="icon-only" (click)="showPrompt()">
      <ion-icon name="alarm-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content fullscreen>
  <ion-card class="card-max-width">
    <ion-card-title>
      <ion-input
        [(ngModel)]="note.title"
        maxLength="20"
        placeholder="Name"
      ></ion-input>
    </ion-card-title>
    <ion-card-content>
      <ion-textarea
        [(ngModel)]="note.body"
        auto-grow="true"
        placeholder="Notes"
      ></ion-textarea>
    </ion-card-content>

    <ion-footer *ngIf="!note.id">
      <ion-toolbar color="success">
        <ion-button
          expand="full"
          fill="clear"
          color="light"
          (click)="addNote()"
        >
          <ion-icon name="checkmark" slot="start"></ion-icon>
          Add Idea
        </ion-button>
      </ion-toolbar>
    </ion-footer>

    <ion-footer *ngIf="note.id">
      <ion-row no-padding text-center>
        <ion-col size="6">
          <ion-button
            expand="block"
            fill="outline"
            color="danger"
            (click)="deleteNote()"
          >
            <ion-icon name="trash" slot="start"></ion-icon>
            Delete
          </ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button
            expand="block"
            fill="outline"
            color="success"
            (click)="updateNote()"
          >
            <ion-icon name="save" slot="start"></ion-icon>
            Save Changes
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-card>
</ion-content>
