.cardfooter {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  
  .has-cardfooter {
    padding-bottom: 15px;
  }

  ion-card-title {
      padding-left: 15px;
      padding-top: 15px;
  }

